<div class="card shadow container mt-4 p-4">  
    <div align="center" class="row mt-4">
      <div class="col-sm-4 mx-auto">
          <div class="card tile-box shadow mx-auto" data-toggle="modal" data-target="#myModal">
              <i class="fa fa-user-plus fa-2x p-2" aria-hidden="true"></i>
              <label for="AddUser" class="txt">Add User</label>    
          </div>      
      </div>

      <div class="col-sm-4  mx-auto" data-toggle="modal" data-target="#myModal2">    
          <div class="card tile-box shadow mx-auto">              
            <i class="fa fa-users fa-2x p-2" aria-hidden="true"></i>
            <label for="AddUser" class="txt">Manage User</label>  
          </div>

      </div>

      <div class="col-sm-4  mx-auto" data-toggle="modal" data-target="#myModal1">     
          <div class="card tile-box shadow mx-auto">              
          <i class="fa fa-briefcase fa-2x p-2" aria-hidden="true"></i>
          <label for="AddUser" class="txt">Add Trainings</label>   
          </div>       
      </div>

    </div>


    
    <div  align="center" class="row mt-4">
        <div class="col mx-auto table-responsive">
                     
            <table class="table table-striped table-bordered table-hover text-center">
              <thead>
                <tr>
                  <th>Training Name</th>
                  <th>Category</th>
                  <th>Trainer</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>John</td>
                  <td>Doe</td>
                  <td>john@example.com</td>
                </tr>
                <tr>
                  <td>Mary</td>
                  <td>Moe</td>
                  <td>mary@example.com</td>
                </tr>
                <tr>
                  <td>July</td>
                  <td>Dooley</td>
                  <td>july@example.com</td>
                </tr>
              </tbody>
            </table>
          </div>
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Add User model -->
  <div class="container">     
      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Add User</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">

                <div class="form-group">
                    <label for="email">Email-Id</label>
                    <input formControlName="email" class="form-control " [ngClass]="applyClass(email)" type="email" id="email"
                      placeholder="Enter your Email-Id">
                    <div class="invalid-feedback" *ngIf="email.errors">
                      <span *ngIf="loginForm.controls['email'].errors.required">
                        This field is required
                      </span>
                      <span *ngIf="loginForm.controls['email'].errors.pattern">
                        Please enter Capco email address.
                      </span>
                    </div>
                  </div>

                  <div class="form-group">
                      <label for="userType">User Type</label>
                      <select id="userType" [ngModelOptions]="{standalone: true}" name="selectQuestion" class="form-control" required
                        [(ngModel)]="userType">
                        <option value="trainer">Trainer</option>
                        <option value="learner">Learner</option>   
                      </select>
                    </div>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Add User</button>
            </div>
            
          </div>
        </div>
      </div>
      
    </div>
    <!-- End of Add user model -->

    <!-- Add trainings -->
    <div class="container">     
        <!-- The Modal -->
        <div class="modal" id="myModal1">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Add Training</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
  
                  <div class="form-group">
                      <label for="courseName">Course Name</label>
                      <input formControlName="courseName" class="form-control " [ngClass]="applyClass(email)" type="text" id="courseName"
                        placeholder="Course Name">                      
                    </div>

                    <div class="form-group">
                        <label for="courseCategory">Course Category</label>
                        <select id="courseCategory" [ngModelOptions]="{standalone: true}" name="courseCategory" class="form-control" required
                          [(ngModel)]="courseCategory">
                          <option value="frontend">Frontend</option>
                          <option value="backend">Backend</option>  
                          <option value="ba">BA</option> 
                          <option value="testing">Testing</option> 
                          <option value="devops">DEV OPS</option>    
                        </select>
                      </div>

                      <div class="form-group">
                          <label for="desc">Description</label>
                          <textarea class="form-control" id="desc" [ngClass]="applyClass(desc)" formControlName="desc" id="desc" cols="63"
                            rows="3" placeholder="Description"></textarea>
                          <div class="invalid-feedback" *ngIf="bio.errors">
                            <span *ngIf="bio.errors.maxlength">
                              max characters limit is 800.
                            </span>
                          </div>
                        </div>
  
                    <div class="form-group">
                        <label for="addTrainer">Add Trainer</label>
                        <select id="addTrainer" [ngModelOptions]="{standalone: true}" name="addTrainer" class="form-control" required
                          [(ngModel)]="addTrainer">
                          <option value="trainer">Trainer 1</option>
                          <option value="learner">Trainer 2</option>   
                        </select>
                      </div>
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Add Training</button>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>
    <!-- End of add trainings -->
    
    <!-- intro to business analysis -->
    <div class="container">     
        <!-- The Modal -->
        <div class="modal" id="myModal2">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Introduction to Business analysis</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
            <div class="modal-body">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                      <label for="trainingName">Training Name</label>
                      <input formControlName="trainingName" class="form-control " [ngClass]="applyClass(email)" type="text" id="trainingName"
                        placeholder="Training Name">                      
                    </div>                    

                      <div class="form-group">
                          <label for="trainingCategory">Training Category</label>
                          <select id="trainingCategory" [ngModelOptions]="{standalone: true}" name="trainingCategory" class="form-control" required
                            [(ngModel)]="trainingCategory">
                            <option value="frontend">Frontend</option>
                            <option value="backend">Backend</option>  
                            <option value="ba">BA</option> 
                            <option value="testing">Testing</option> 
                            <option value="devops">DEV OPS</option>  
                          </select>
                      </div>

                      <div class="form-group">
                          <label for="trainerName">Trainer Name</label>
                          <input formControlName="trainerName" class="form-control " [ngClass]="applyClass(email)" type="text" id="trainerName"
                            placeholder="Trainer Name">                      
                        </div>

                        <div class="form-group">
                            <label for="venue">Venue</label>
                            <input formControlName="venue" class="form-control " [ngClass]="applyClass(email)" type="text" id="venue"
                              placeholder="Venue">                      
                          </div>

                          <div class="form-group">
                              <label for="trainingType">Training Type</label>
                              <input formControlName="trainingType" class="form-control " [ngClass]="applyClass(email)" type="text" id="trainingType"
                                placeholder="Training Type">                      
                          </div>
                        </div>
                      
                  <div class="col"> 
                    
                      <div class="form-group">
                          <label for="startDate">Start Date</label>
                          <input formControlName="startDate" class="form-control " [ngClass]="applyClass(email)" type="date" id="startDate"
                            placeholder="Start Date">                      
                      </div>

                      <div class="form-group">
                          <label for="endDate">End Date</label>
                          <input formControlName="endDate" class="form-control " [ngClass]="applyClass(email)" type="date" id="endDate"
                            placeholder="End Date">                      
                      </div>

                      <div class="form-group">
                          <label for="addTime">Add Time</label>
                          <input formControlName="addTime" class="form-control " [ngClass]="applyClass(email)" type="time" id="addTime"
                            placeholder="Add Time">                      
                      </div>
                    
                    <div class="form-group">
                        <label for="completionStatus">Completion Status</label>
                        <select id="completionStatus" [ngModelOptions]="{standalone: true}" name="completionStatus" class="form-control" required
                          [(ngModel)]="completionStatus">
                          <option value="yes">Yes</option>
                          <option value="no">No</option>   
                        </select>
                    </div>
                  </div>
              </div>
            </div> 
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>
    <!-- End of business analysis -->