<div class="container p-3 ">
  <div class="offset-3 col-6">
    <div class="card">
      <div class="card-header font-weight-bold text-center">
        <div class="d-flex justify-content-center">
          <img class=" " src="../../../assets/imgs/capco.png" height="50%" alt="Card image cap">
        </div>
        Forgot Password?
      </div>
      <div class="card card-body">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="email">Capco's Email Address</label>
            <input id="email" formControlName="email" type="email" class="form-control" required [ngClass]="applyClass(email)" />
            <div class="invalid-feedback" *ngIf="email.errors">
              <span *ngIf="email.errors.required">
                This field is required
              </span>
              <span *ngIf="email.errors.pattern">
                Email should contain Firstname.Lastname@capco.com
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="selectQuestion">Security Questions</label>
            <select id="selectQuestion" name="selectQuestion" class="form-control" required [ngClass]="applyClass(selectQuestion)" formControlName="selectQuestion">
              <option *ngFor="let q of questions">{{ q }}</option>
            </select>
            <div class="invalid-feedback" *ngIf="selectQuestion.errors">
              <span *ngIf="selectQuestion.errors.required">
                This field is required
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="selectQuestion">Answer</label>
            <input type="text" id="answer" name="answer" class="form-control" formControlName="answer" [ngClass]="applyClass(answer)"
              required />
            <div class="invalid-feedback" *ngIf="answer.errors">
              <span *ngIf="answer.errors.required">
                This field is required
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <div class="input-group">
              <input id="password" formControlName="password" [type]="!showPass ? 'password' : 'text'" class="form-control" [ngClass]="applyClass(password)"
                required />
              <div class="input-group-append" (click)="show()">
                <div class="input-group-text">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </div>
              </div>
              <div class="invalid-feedback" *ngIf="password.errors">
                <span *ngIf="password.errors.required">
                  This field is required
                </span>
                <span *ngIf="password.errors.minLength">
                  Minimum 6 characters is required
                </span>
                <span *ngIf="password.errors.maxLength">
                  Maximum 15 characters only
                </span>
                <span *ngIf="password.errors.pattern">
                  Min 6 characters and Max 15 characters,at least one Upper Case,at least one lower case and special
                  characters(! @ # $ % ^ & *).                  
                </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button [disabled]="forgotPasswordForm.invalid" type="submit" class="btn btn-primary btn-block font-weight-bold">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>