<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >     
  
  <div class="form-group">
      <label for="firstName">Name</label>
      <input formControlName="firstName" class="form-control " [ngClass]="applyClass(firstName)" type="text" id="firstName"
        placeholder="first name">
      <div class="invalid-feedback" *ngIf="firstName.errors">
        <span *ngIf="registerForm.controls['firstName'].errors.required">
            This field is required
        </span>
        <span *ngIf="registerForm.controls['firstName'].errors.maxlength">
            Minimum of 10 characters.
        </span>
      </div>
    </div>      

    <div class="form-group">
      <label for="emailId">Email-Id</label>
      <input formControlName="emailId" class="form-control " [ngClass]="applyClass(emailId)" type="email" id="emailId"
        placeholder="Enter your Email-Id">
      <div class="invalid-feedback" *ngIf="emailId.errors">
        <span *ngIf="registerForm.controls['emailId'].errors.required">
            This field is required
        </span>           
           <span *ngIf="registerForm.controls['emailId'].errors.pattern">
              Invalid email-id.
          </span>          
      </div>
    </div>
  
  <div class="form-group">
      <label for="dob">What is your Date of birth?</label>
      <input type="date" class="form-control" min="{{minDate}}" max="{{today}}">
  </div>

  <div class="form-group">
      <label for="password">Password</label>
      <input formControlName="password" class="form-control " [ngClass]="applyClass(password)" type="password" id="password"
        placeholder="Enter password">
      <div class="invalid-feedback" *ngIf="password.errors">
        <span *ngIf="registerForm.controls['password'].errors.required">
            This field is required.
        </span>
        <span *ngIf="registerForm.controls['password'].errors.pattern">
          Min 6 characters and Max 15 characters,at least one Upper Case,at least one lower case and special characters(! @ # $ % ^ & *)
        </span>          
      </div>
    </div>   

    <div class="form-group">
      <label for="skills">Skill Set</label>
      <select class="form-control" id="skills">
        <option>Frontend</option>
        <option>Backend</option>
        <option>Business Analyst</option>
        <option>Data Analyst</option>
        <option>Dev Ops</option>
        <option>Testing</option>          
      </select>
    </div>

  
  <div class="form-group">
      <button [disabled]="loading" class="btn col-6 btn-dark"  routerLink="/security" >Next</button>
      <button class="btn col-6 btn-light" routerLink="/login">Cancel</button>
  </div>

</form>




