<form [formGroup]="registerForm">

  <div class="form-group">
    <label for="fullName">Name</label>
    <input formControlName="fullName" class="form-control " [ngClass]="applyClass(fullName)" type="text" id="fullName"
      placeholder="Full Name">
    <div class="invalid-feedback" *ngIf="fullName.errors">
      <span *ngIf="fullName.errors.required">
        This field is required
      </span>
      <span *ngIf="fullName.errors.maxlength">
        Minimum of 10 characters.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="emailId">Email-Id</label>
    <input formControlName="emailId" class="form-control " [ngClass]="applyClass(emailId)" type="email" id="emailId"
      placeholder="Enter your Email-Id">
    <div class="invalid-feedback" *ngIf="emailId.errors">
      <span *ngIf="emailId.errors.required">
        This field is required
      </span>
      <span *ngIf="emailId.errors.pattern">
        Email should contain Firstname.Lastname@capco.com
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="dob">What is your Date of birth?</label>
    <input formControlName="dob" type="date" class="form-control" [ngClass]="applyClass(dob)" max="{{maxDate}}">
    <div class="invalid-feedback" *ngIf="dob.errors">
        <span *ngIf="dob.errors.required">
          This field is required
        </span>
      </div>
  </div>
  
  <div class="form-group">
    <label for="password">Password:</label>
    <div class="input-group">
      <input id="password" formControlName="password" [type]="!showPass ? 'password' : 'text'" class="form-control"
        [ngClass]="applyClass(password)" required />
      <div class="input-group-append" (click)="show()">
        <div class="input-group-text">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </div>
      </div>
      <div class="invalid-feedback" *ngIf="password.errors">
        <span *ngIf="password.errors.required">
          This field is required
        </span>
        <span *ngIf="password.errors.pattern">
          Min 6 characters and Max 15 characters,at least one Upper Case,at least one lower case and special
          characters(! @ # $ % ^ & *).
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="skills">Skill Set</label>
    <select formControlName="skill" class="form-control" id="skills">
      <option value="Frontend" >Frontend</option>
      <option value="Backend">Backend</option>
      <option value="Business Analyst" selected>Business Analyst</option>
      <option value="Data Analyst">Data Analyst</option>
      <option value="Dev Ops">Dev Ops</option>
      <option value="Testing">Testing</option>
    </select>
  </div>


  <div class="form-group">
    <button type="button" class="btn col-6 btn-dark shadow" [disabled]="registerForm.invalid" (click)="submit()" routerLinkActive="active">Next</button>
    <button class="btn col-6 btn-light shadow" type="button" routerLink="/login" routerLinkActive="active">Cancel</button>
  </div>

</form>