.he{
    height: 1700px;
    background: red;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #343a40;
}

a {
  color: gray;
}


.card{
  padding: 0px
}