  <div class="black-box">
    <button class="btn btn-primary" (click)="toastService.presentToastInfo('Information')">info</button>
    <button class="btn btn-primary" (click)="toastService.presentToastDanger('danger')">danger</button>
    <button class="btn btn-primary" (click)="toastService.presentToastWarning('warn')">warn</button>
    <button class="btn btn-primary" (click)="presentLoading()">warn</button>
  </div>

  <div class="he">
    
  </div>
  <button class="btn btn-primary" (click)="presentLoading()">warn</button>
