<div class="container ">
  <div class="offset-3 col-6">
    <h2>My Profile</h2>
    <form [formGroup]="profileForm" (ngSubmit)="sumbit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" [value]="session.user.email" readonly />
      </div>
      <div class="form-group">
        <label for="fullname">Full Name</label>
        <input type="text" id="fullname" class="form-control" [value]="session.user.name" readonly />
      </div>
      <div class="form-group">
        <label for="skills">Skills</label>
        <input type="text" id="skills" class="form-control" [value]="session.user.skill" readonly />
      </div>
      <div class="form-group">
        <label for="dob">Date Of Birth</label>
        <input type="date" id="dob" class="form-control" [value]="session.user.dob.toISOString().slice(0,10)" readonly />
      </div>
      <div class="form-group">
        <label for="contact">Contact</label>
        <input type="number" id="contact" formControlName="contact" class="form-control" [ngClass]="applyClass(contact)" placeholder="Enter Your Mobile Number"
        />
        <div class="invalid-feedback" *ngIf="contact.errors">
          <span *ngIf="contact.errors.required">
            This field is required
          </span>
          <span *ngIf="contact.errors.max">
            max 10 numbers required
          </span>
          <span *ngIf="contact.errors.min">
            min 10 numbers required
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="bio">Bio</label>
        <textarea class="form-control" id="bio" [ngClass]="applyClass(bio)" formControlName="bio" id="bio" cols="63" rows="2" placeholder="Short Description"></textarea>
        <div class="invalid-feedback" *ngIf="bio.errors">
          <span *ngIf="bio.errors.maxlength">
            max 140 characters required
          </span>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="profileForm.invalid">Update</button>
        <button class="btn btn-danger">Cancel</button>
      </div>
    </form>
  </div>
</div>